html {
	font: 10px/15px Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
}

h1, h2, h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*header*/
.page-header {

	background-color: #e8ebf1;
	&__wrapper {
		.container();
		.clearfix();
		padding: 36px 0 39px 0;
	}

	&__toggle {
		display: none;
	}

	& .main-logo {

		display: inline-block;
		width: 15%;

		& img {
			display: block;
			width: 100%;
		}
	}

	/*navigation*/
	& .main-nav {
		float: right;
		width: 80%;
		.clearfix();

		& ul {

			& li {
				display: inline-block;
				font-size: 0;
				padding: 0 2%;

				& a {
					box-sizing: border-box;
					display: block;
					font-size: 1.3rem;
					line-height: 1.54rem;
					font-weight: bolder;
					text-transform: uppercase;
					padding: 12px 0;
					color: #000;

				}

				&.item-sub {
					padding-right: 4%;
				}

				& .main-nav__sub {
					text-align: left;
					& li {
						display: block;
						margin-right: 7px;
						border-bottom: 1px solid #e7e7e7;

						& a {
							padding: 5px 0 4px 10px;
							font-size: 1.3rem;
							line-height: 2.77rem;
							font-weight: normal;
							text-transform: none;
							border-top: none;
							color: #000;
							background: #fff;

							&:hover {
								color: #2aacc8;
							}
						}
					}
				}
			}
		}
	}
}

@media @desctop-only {
	.main-nav {

		& ul {
			width: 100%;
			text-align: right;
		}

		& ul > li:hover,
		& ul li.active {
			border-top: 5px solid #2aacc8;

			& a {
				padding: 7px 0 12px 0;
			}
		}

		& ul > li:hover {
			background: #fff;
		}

		& ul li:hover > a {
			color: #2aacc8;
			text-decoration: none;
		}


		& .item-sub {
			position: relative;
			background: url(../img/arrow-down.png) no-repeat 90% 50%;

			&.active {
				background-position: 90% 40%;
			}

			& a {
				padding-right: 10px;
			}

			&:hover {
				background: #fff url(../img/arrow-down.png) no-repeat 90% 40%;
			}

			& .main-nav__sub {
				position: absolute;
				z-index: 10;
				left: -1px;
				display: none;
				width: 185%;
				padding-top: 10px;
				border-left: 1px solid #e7e7e7;
				border-right: 1px solid #e7e7e7;
				border-bottom: 5px solid #2aacc8;
				background-color: #fff;

				& li {
					&:last-child {
						padding-bottom: 9px;
						border-bottom: none;
					}

					&:hover {
						border-top: none;
					}
				}
			}

			&:hover .main-nav__sub{
				display: block;
			}
		}
	}
}

/*index slider1*/
.gallery {
	position: relative;
	z-index: 5;
	padding-top: 19px;
	border-top: 1px solid #6ec2ca;
	background-color: #81e4ed;

	&__wrapper {
		.container();
	}

	.owl-theme .owl-nav.disabled + .owl-dots {
		margin-top: 0;
	}

	.owl-theme .owl-dots {
		margin: 0;

		& .owl-dot span {
			width: 15px;
			height: 15px;
			margin: 10px 7px;
		}
	}
}

.item {
	position: relative;
	width: 100%;

	& h2 {
		position: absolute;
		top: 20%;
		left: 6.1%;
		width: 31%;
		font: bold 3.5vw 'Lato';
		color: #fff;
	}
}


/*index features*/
.features {
	margin-bottom: 15px;
	padding: 60px 0 49px;
	border-bottom: 1px solid #d9d9d9;
	background-color: #e8ebf1;

	&__wrapper {
		.container();
	}

	&__item {
		display: inline-block;
		width: 22%;
		padding-right: 3%;
		vertical-align: top;

		&:last-child {
			padding-right: 0;
		}

		& h3 {
			display: table-cell;
			width: 22.5%;
			height: 40px;
			padding-left: 27%;
			font: bold 1.5rem Arial, sans-serif;
			vertical-align: middle;
			text-transform: uppercase;
		}
		&.clean h3 {
			background: url(../img/box1.png) no-repeat;
			background-size: 18%;
		}
		&.responsive h3 {
			background: url(../img/box2.png) no-repeat;
			background-size: 18%;
		}
		&.fully-layerd h3 {
			background: url(../img/box3.png) no-repeat;
			background-size: 18%;
		}
		&.coding h3 {
			background: url(../img/box4.png) no-repeat;
			background-size: 18%;
		}

		& p {
			margin: 10px 0 0 0;
			min-height: 115px;
			font-size: 1.3rem;
			line-height: 1.9rem;
			color: #363636;
		}

		& a {
			display: block;
			padding-left: 6%;
			font-size: 1.3rem;
			line-height: 1.54rem;
			color: #2aacc8;
			background: url(../img/arrow.png) no-repeat 0 30%;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/*index gallery2*/
.gallery2 {
	margin-bottom: 20px;

	&__wrapper {
		position: relative;
		.container();
		.clearfix();

		& h3 {
			.h3-content();
			background: url(../img/latest-works.png) no-repeat 0 40%;
		}
	}

	.owl-theme {
		margin-top: 10px;
		padding: 20px 0 40px 0;
		border-top: 1px solid #dfe1e5;
		border-bottom: 1px solid #dfe1e5;
	}

	.owl-theme .owl-nav {
		position: absolute;
		top: -48px;
		right: -5px;
		margin-top: 0;

		& .owl-prev,
		& .owl-next {
			padding: 0;
			width: 20px;
			height: 20px;
			background: none;
			overflow: hidden;
		}
		& .owl-prev:hover img,
		& .owl-next:hover img {
			margin-top: -20px;
		}
	}

	.owl-theme .owl-dots {
		display: none;
	}

	& .item {
		position: relative;
		overflow: hidden;
		.mask-style();

		&:hover .mask {
		 transform: translateY(0px);
		}
	}
}

/*clients and testimonies*/
.clients-wrapper {
	.container();
	.clearfix();
	padding-bottom: 41px;

	& .testimony,
	& .clients {
		box-sizing: border-box;
		width: 50%;
	}

	& .testimony {
		float: left;

		& h3 {
			.h3-content();
			padding-left: 8.33%;
			background: url(../img/testimonials.png) no-repeat 0 40%;
		}

		& p {
			margin-bottom: 33px;
			padding: 0 15% 0 0;
			font-size: 1.4rem;
			line-height: 1.72rem;
			color: #363636;
		}

		& span {
			font-size: 1.4rem;
			line-height: 1.72rem;
			font-weight: bold;
			font-style: italic;
			color: #363636;
		}
	}

	& .clients {
		float: right;
		padding-left: 2%;

		& h3 {
			.h3-content();
			padding-left: 8.33%;
			background: url(../img/clients.png) no-repeat 0 40%;
		}

		& .logos {
			min-height: 200px;

			& div {
				box-sizing: border-box;
				display: inline-block;
				width: 33.7%;
				height: 100px;
				margin-left: -4px;
				margin-bottom: -1px;
				text-align: center;
				vertical-align: middle;
				line-height: 100px;
				border: 1px solid #e8ebf1;
				background-color: #fff;
				-webkit-box-shadow: inset 0 0 20px 10px rgba(232, 235, 241, 0.5);
		    -moz-box-shadow: inset 0 0 20px 10px rgba(232, 235, 241, 0.5);
		    box-shadow: inset 0 0 20px 10px rgba(232, 235, 241, 0.5);

				& img {
					display: inline-block;
					max-width: 100%;
					vertical-align: middle;
				}
			}
		}
	}
}


/*download block*/
.download {
	box-sizing: border-box;
	.container();
	.clearfix();
	padding: 33px 3% 33px 2%;
	border: 1px solid #81e4ed;
	background-color: #e8fcfe;

	& p {
		float: left;
		width: 67%;
		margin: 0;
		padding: 0;
		font-size: 1.6rem;
		line-height: 2.5rem;
		color: #363636;
	}

	& a {
		float: right;
		box-sizing: border-box;
		display: block;
		width: 25%;
		height: 60px;
		margin-top: 7px;
		padding-left: 6.5%;
		.btn();
		background: #94f7ff url(../img/load.png) no-repeat; /* Old browsers */
		background: url(../img/load.png) no-repeat 7%, -moz-linear-gradient(top, #94f7ff 0%, #60cede 73%, #33b1cc 100%); /* FF3.6-15 */
		background: url(../img/load.png) no-repeat 7%, -webkit-linear-gradient(top, #94f7ff 0%,#60cede 73%,#33b1cc 100%); /* Chrome10-25,Safari5.1-6 */
		background: url(../img/load.png) no-repeat 7%, linear-gradient(to bottom, #94f7ff 0%,#60cede 73%,#33b1cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94f7ff', endColorstr='#33b1cc',GradientType=0 );
	}

	& a:hover {
		opacity: 0.8;
		text-decoration: none;
	}
}


/*footer*/
.page-footer {
	margin-top: 36px;
	padding: 33px 0 42px 0;
	background-color: #e8ebf1;

	&__wrapper {
		.container();
		.clearfix();
	}

	& .top {
		margin-bottom: 39px;

		& div {
			display: inline-block;
			margin-right: 4.8%;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: #363636;
			vertical-align: top;

			&:last-child {
				margin-right: 0;
			}

			& a {
				color: #363636;

				&:hover {
					color: #51b5ce;
					text-decoration: underline;
				}
			}

			& h3 {
				.h3-footer();
				color: #000;
			}

			& p {
				margin: 4px 0 0 0;
				padding: 0;
			}
		}

		& .about {
			width: 24%;

		}

		& .explore {
			width: 9%;
			line-height: 2.5rem;
		}

		& .browse {
			width: 11%;
			line-height: 2.5rem;
		}

		& .contact-us {
			width: 15%;

			& .adress {
				margin-bottom: 15px;

				& strong {
					display: block;
				}
			}

			& .tel {
				& span {
					display: block;
				}
			}
		}

		& .connect {
			width: 20%;

			& ul {
				font-size: 0;

				& li {
					display: inline-block;
					width: 33.3%;
					margin: 0 0 14px 0;

					&:hover {
						opacity: 0.7;
					}

					& a {
						display: block;
						width: 53px;
						height: 55px;
						background: url(../img/social.png) no-repeat;
						background-size: 400%;
					}

					& .dr {
						background-position: 50% 0;
					}

					& .pin {
						background-position: 100% 0;
					}

					& .in {
						background-position: 0 97%;
					}

					& .skype {
						background-position: 50% 97%;
					}

					& .share {
						background-position: 100% 97%;
					}
				}
			}
		}
	}

	& .bottom {
		.clearfix();

		& .footer-logo {
			float: right;
			width: 15%;

			& a {
				display: block;

				& img {
					width: 100%;
				}
			}
		}

		& .copy {
			float: left;
			width: 65%;
			margin: 0;
			font-size: 1.3rem;
			line-height: 1.4rem;
			color: #363636;

			& span {
				display: block;
			}
		}
	}
}

@media screen and @tablet-width {
	.page-header {

		&__wrapper {
			padding: 20px 0;
		}

		& .main-logo {
			width: auto;
		}

		& .main-nav {
			display: none;
			width: 100%;
			margin-top: 20px;

			& ul {
				float: none;

				& li {
					display: block;
					margin: 0 auto;
					padding-bottom: 15px;
					&:last-child {
						padding-bottom: 0;
					}

					& a {
						padding: 12px;
					}
					&.active {
						border-top: 5px solid #2aacc8;
					}

					&:hover a {
						color: #2aacc8;
						text-decoration: none;
					}

					&.item-sub {
						& .main-nav__sub {
							padding-left: 30px;

							& li {
								border: none;

								& a {
									background: none;
								}
							}
						}
					}
				}
			}
		}

		&__toggle {
			float: right;
			display: block;
			width: 50px;
			height: 55px;
			font-size: 0;
			background: url(../img/menu-icon.png) no-repeat;
			background-size: 100%;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.features {
		&__item  {
			width: 45%;
			margin-bottom: 25px;
			padding: 0 2%;
			text-align: justify;

			& p {
				min-height: 90px;
			}

			&.responsive h3,
			&.clean h3,
			&.fully-layerd h3,
			&.coding h3{
				padding-left: 17%;
				background-size: auto;
			}
		}
	}

	.download {
		& p {
			float: none;
			width: 100%;
			margin-bottom: 25px;
		}

		& a {
			float: none;
			margin: 0 auto;
			width: 190px;
			padding-left: 50px;
		}
	}

	.page-footer {
		& .top {

			& div {
				margin-right: 4.7%;
			}

			& .connect {
				& ul {
					& li {
						width: 50%;
					}
				}
			}
		}
	}
}

@media screen and @mobile-max-width {
	.features {
		padding-top: 40px;

		&__item  {
			&.responsive h3,
			&.clean h3,
			&.fully-layerd h3,
			&.coding h3{
				padding-left: 24%;
			}
		}
	}

	.gallery2 {
		&__wrapper {
			& h3 {
				padding-left: 8.33%;
			}
		}
	}

	.clients-wrapper {

		& .testimony {
			float: none;
			width: 100%;
			margin-bottom: 25px;

			& p {
				margin-bottom: 10px;
				padding: 0 2%;
				text-align: justify;
			}

			& span {
				padding: 0 2%;
			}
		}

		& .clients {
			float: none;
			width: 100%;
			padding-left: 0;

			& .logos {
				padding: 0 2%;
				text-align: center;
				& div {
					width: 33%;
				}
			}
		}
	}

	.page-footer {
		& .top {
			text-align: justify;

			& div {
				margin-right: 0;
			}

			& .about {
				width: 55%;
				text-align: left;

				& p {
					width: 90%;
				}
			}

			& .explore,
			& .browse {
				width: 20%;
				margin-bottom: 20px;
				text-align: left;
			}

			& .contact-us {
				width: 57%;
				text-align: left;
			}

			& .connect {
				width: 40%;
				& ul {
					& li {
						width: 33.33%;
					}
				}
			}
		}
	}
}

@media screen and @mobile {
	.features {
		&__item {
			width: 100%;
			padding: 0 2%;

			&.responsive h3,
			&.clean h3,
			&.fully-layerd h3,
			&.coding h3{
				padding-left: 14%;
			}

			& p {
				min-height: 80px;
			}
		}
	}
}

/*portfolio page*/
.portfolio {
	& .page-header {
		margin-bottom: 40px;
	}

	& .h3-wrapper {
		.container();
		& h3 {
			.h3-content();
			padding: 0 0 13px 35px;
			background: url(../img/paintbrush_icon.png) no-repeat;
		}
	}
}

#tabs {
	.tabs__wrapper {
		.container();
	}

	.tabs__list {
		width: 100%;
		margin-bottom: 40px;
		padding: 15px 0;
		border-top: 1px solid #dfe1e5;
		border-bottom: 1px solid #dfe1e5;

		& li {
			display: inline-block;
			font-size: 0;
			outline: none;

			& a {
				padding: 0 16px;
				font-size: 1.4rem;
				line-height: 3rem;
				color: #000;
				outline: none;
			}

			&:hover,
			&.ui-tabs-active.ui-state-active {
				background-color: #81e4ed;

				& a {
							text-decoration: none;
				}
			}
		}
	}

	#portfolio {

		.images {
			width: 100%;
			text-align: justify;

			& li {
				display: inline-block;
				width: 22%;
				margin-bottom: 40px;
				position: relative;
				overflow: hidden;
				.mask-style();

				&:hover .mask {
				 transform: translateY(0px);
				}

				& img {
					display: block;
					width: 100%;
				}
			}

			&::after {
				content: "";
				display: inline-block;
				width: 100%;
			}
		}

		.portfolio__toggler {
			width: 100%;
			text-align: center;
			& li {
				display: inline-block;
				width: 27px;
				vertical-align: top;

				& a {
					display: block;
					padding: 0 10px;
					font-size: 1.4rem;
					line-height: 2.7rem;
					color: #000;
				}

				&:hover,
				&.active {
					background-color: #81e4ed;
				}

				&:hover a {
					text-decoration: none;
				}

				&.last {
					margin-right: 20px;
					& a {
						font-size: 0;
						width: 27px;
						height: 27px;
						background: url(../img/portfolio_lastt.png) no-repeat;

						&:hover {
							background-position: 0 -27px;
						}
					}
				}


				&.next a {
					font-size: 0;
					width: 27px;
					height: 27px;
					background: url(../img/portfolio_next.png) no-repeat;

					&:hover {
						background-position: 0 -27px;
					}
				}
			}
		}
	}
}

@media screen and @tablet-width {
	#tabs {
		#portfolio {

			.images {
				& li {
					width: 28%;
				}
			}
		}
	}
}

@media screen and @mobile-max-width {
	#tabs {
		#portfolio {

			.images {
				& li {
					width: 45%;
				}
			}
		}
	}
}

@media screen and @mobile {
	#tabs {
		#portfolio {

			.images {
				& li {
					width: 100%;
				}
			}
		}
	}
}

/*contact page*/
.contact-page {
	& .page-header {
		margin-bottom: 30px;
	}
	& .page-footer {
		margin-top: 0;
	}
}

main {
	& .wrapper {
		.container();
		.clearfix();
	}

	& .main-h3 {
		.h3-content();
		width: 100%;
		margin-bottom: 40px;
		padding-left: 35px;
		line-height: 5rem;
		border-bottom: 1px solid #dfe1e5;
		background: url(../img/envelope_icon.png) no-repeat 0 50%;
	}

	& form {
		float: left;
		width: 52%;
		padding-right: 12%;
		font-size: 1.4rem;
		line-height: 1.5rem;
		& p {
			padding: 0;
			margin: 0 0 20px 0;
			& strong {
				color: #69bed4;
			}
		}

		& input {
			display: block;
			width: 80%;
			margin-bottom: 20px;
			padding: 20px 0 20px 15px;
			color: #000;
			border: 1px solid #dfe1e5;
			border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			-webkit-border-radius: 5px 5px 5px 5px;
		}

		& textarea {
			width: 80%;
			height: 100px;
			margin-bottom: 20px;
			padding: 20px 0 0 15px;
			border: 1px solid #dfe1e5;
			border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			-webkit-border-radius: 5px 5px 5px 5px;
			resize: none;
		}

		& button {
			.btn();
			width: 160px;
			margin-bottom: 35px;
			padding-left: 30px;
			cursor: pointer;
			outline: none;
			background: #94f7ff url(../img/submit.png) no-repeat 15%; /* Old browsers */
			background: url(../img/submit.png) no-repeat 15%, -moz-linear-gradient(top, #94f7ff 0%, #60cede 73%, #33b1cc 100%); /* FF3.6-15 */
			background: url(../img/submit.png) no-repeat 15%, -webkit-linear-gradient(top, #94f7ff 0%,#60cede 73%,#33b1cc 100%); /* Chrome10-25,Safari5.1-6 */
			background: url(../img/submit.png) no-repeat 15%, linear-gradient(to bottom, #94f7ff 0%,#60cede 73%,#33b1cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94f7ff', endColorstr='#33b1cc',GradientType=0 );
		}

		& button:hover {
			opacity: 0.75;
		}

	}

	& .address {
		float: right;
		width: 35%;

		& .map-wrapper {
			box-sizing: border-box;
			margin-bottom: 40px;
			padding: 20px;
			border: 1px solid #81e4ed;
			background-color: #e8fcfe;
			text-align: center;

			& strong {
				display: block;
				font-size: 1.4rem;
				margin-bottom: 20px;
				text-align: left;
			}

			#map {
				box-sizing: border-box;
				border: 5px solid #fff;
			}
		}

		& .contacts {
			font-size: 1.4rem;
			line-height: 1.65rem;
			& h3 {
				.h3-footer();
			}
			& .adress {
				margin: 0 0 15px 0;
				padding: 0;
				color: #363636;

				& strong {
					display: block;

				}
				& span {
					display: block;
				}
			}

			& .tel {
				& span {
					display: block;
					color: #363636;
				}
			}
		}
	}
}

@media screen and @tablet-width {
	main {
		& .left,
		& .address {
			width: 100%;
			float: none;
		}
	}
}
