.clearfix() {
	&::after {
		content:"";
		display: block;
		clear: both;
	}
}

.container() {
	max-width: 1000px;
	margin: 0 auto;

	@media @desctop-mini {
		margin: 0 5px;
	}

	@media @tablet-width {
		max-width: 768px;
		margin: 0 5px;
	}

	@media @mobile-max-width {
		max-width: 650px;
		margin: 0 5px;
	}
	@media @mobile {
		max-width: 480px;
		margin: 0 5px;
	}
}

.h3-content() {
	width: 40%;
	padding-left: 4.1%;
	font-size: 1.5rem;
	line-height: 4rem;
	font-weight: bold;
	text-transform: uppercase;
}

.h3-footer() {
	height: 38px;
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.mask-style() {
	& .mask {
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 0;
		width: 100%;
		height: 50%;
		text-align: center;
		transform: translateY(101%);
		opacity: 1;
		transition: all 0.4s ease-in-out;
		background-color: #2aacc8;

		& a {
			display: inline-block;
			font-size: 0;
			width: 38px;
			height: 27px;
			margin-top: 10%;

			&:hover {
				opacity: 0.7;
			}

			&.view {
				background: url(../img/mask-sprite.png) no-repeat;
			}

			&.link {
				background: url(../img/mask-sprite.png) no-repeat 100% 0;
			}
		}
	}
}

.btn() {
	font-size: 1.5rem;
	line-height: 6rem;
	font-weight: bold;
	color: #000;
	border: 1px solid #2aacc8;


	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 4px 10px -6px rgba(191,208,209,1);
	-moz-box-shadow: 0px 4px 10px -6px rgba(191,208,209,1);
	box-shadow: 0px 4px 10px -6px rgba(191,208,209,1);
}
